##### DataFrame 메서드 실습

In [4]:
!pip install matplotlib
!pip install numpy

Requirement already satisfied: matplotlib in c:\users\playdata\appdata\local\anaconda3\envs\pystudy_env\lib\site-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\playdata\appdata\local\anaconda3\envs\pystudy_env\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\playdata\appdata\local\anaconda3\envs\pystudy_env\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\playdata\appdata\local\anaconda3\envs\pystudy_env\lib\site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\playdata\appdata\local\anaconda3\envs\pystudy_env\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\playdata\appdata\local\anaconda3\envs\pystudy_env\lib\site-packages (from matplotlib) (2.2.1)
Requirement already satisfied: packaging>=20.0 in c:\users\playdata\appdata\local\anaconda3\envs\pystudy_env\lib\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\playdata\appdata\local\anaconda3\envs\pystudy_env\lib\site-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\playdata\appdata\local\anaconda3\envs\pystudy_env\lib\site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\playdata\appdata\local\anaconda3\envs\pystudy_env\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\playdata\appdata\local\anaconda3\envs\pystudy_env\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Requirement already satisfied: numpy in c:\users\playdata\appdata\local\anaconda3\envs\pystudy_env\lib\site-packages (2.2.1)

In [5]:
import numpy as np
import pandas as pd

In [6]:
df= pd.read_csv('.\data\ecommerce_sales_data.csv')
df

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Playdata\AppData\Local\Temp\ipykernel_22244\1595363594.py:1: SyntaxWarning: invalid escape sequence '\d'
  df= pd.read_csv('.\data\ecommerce_sales_data.csv')

,OrderID,Product,Category,Quantity,Price,CustomerID,Birthdate,OrderDate,Country
0,1,역사책,Books,5,37000,1071,1980-08-08,2024-06-10 17:18,미국
1,2,셔츠,Clothing,5,20000,1526,1967-08-09,2023-11-18 18:45,독일
2,3,노트북,Electronics,4,8000,1252,1973-04-07,2023-10-15 11:19,중국
3,4,자전거,Sports,1,8000,1670,1970-04-08,2024-07-19 2:19,일본
4,5,헤드폰,Electronics,3,26000,1838,1992-05-19,2024-01-20 20:34,대한민국
...,...,...,...,...,...,...,...,...,...
115,116,스마트워치,Electronics,1,33000,1508,1971-01-02,2024-03-01 16:57,독일
116,117,스마트워치,Electronics,4,41000,1645,1975-03-15,2024-01-18 21:37,대한민국
117,118,태블릿,Electronics,1,33000,1433,1965-02-01,2024-09-29 12:27,독일
118,119,청바지,Clothing,2,43000,1497,1980-04-02,2024-06-10 9:01,독일
119,120,과자,Food,1,48000,1951,1989-11-28,2024-06-29 10:28,미국

In [33]:
data = {
    "ID": [1, 2, 3, 4, 5],
    "상품": ["책", "셔츠", "노트북", "자전거", "헤드폰"],
    "카테고리": ["도서", "의류", "전자기기", "스포츠", "전자기기"],
    "수량": [3, 2, 1, 4, 2],
    "가격": [30000, 50000, 800000, 120000, 200000],
    "고객번호": [1001, 1002, 1003, 1004, 1005],
    "주문일": ["2025-01-10", "2025-01-11", "2025-01-12", "2025-01-13", "2025-01-14"],
    "국가": ["한국", "미국", "독일", "일본", "중국"]
}
df= pd.DataFrame(data)

# 데이터프레임 확인
print(df)

   ID   상품  카테고리  수량      가격  고객번호         주문일  국가
0   1    책    도서   3   30000  1001  2025-01-10  한국
1   2   셔츠    의류   2   50000  1002  2025-01-11  미국
2   3  노트북  전자기기   1  800000  1003  2025-01-12  독일
3   4  자전거   스포츠   4  120000  1004  2025-01-13  일본
4   5  헤드폰  전자기기   2  200000  1005  2025-01-14  중국

In [4]:
# 문제 1. ID가 3인 고객 조회

In [42]:
#인덱스로 설정
df_indexed = df.set_index('ID')

# ID가 3인 고객
result = df_indexed.loc[3]

print(result)

상품             노트북
카테고리          전자기기
수량               1
가격          800000
고객번호          1003
주문일     2025-01-12
국가              독일
Name: 3, dtype: object

In [17]:
# 문제 2. 순자산(예치 금액)이 5,000달러가 넘는 고객 조회 (순자산 net worth )

In [44]:
df = pd.DataFrame(data)

# 순자산(net worth) 계산
df['net worth'] = df['수량'] * df['가격']

# 순자산이 5,000달러(500만 원) 이상인 고객 필터링
filtered_customers = df[df['net worth'] > 500000]

# 결과 출력
print(filtered_customers)

   ID   상품  카테고리  수량      가격  고객번호         주문일  국가  net worth
2   3  노트북  전자기기   1  800000  1003  2025-01-12  독일     800000

In [6]:
# 문제 3. 거래 기간이 5년 이상인 고객 조회

In [56]:
# 거래 기간 추가 및 필터링
df['기간'] = [3, 7, 1, 5, 6]  
result = df[df['기간'] >= 5] 

# 결과 출력
print(result[['상품', '가격', '수량', '기간']])

    상품      가격  수량  기간
1   셔츠   50000   2   7
3  자전거  120000   4   5
4  헤드폰  200000   2   6

In [58]:
# 문제 4. 이름이 S로 시작하는 고객 조회

In [66]:
# 고객 이름 열 추가
df['이름'] = ['ｓａｒａ', 'ａｒａａ', 'ａｈａ', 'ｓｏｒｏｓ', 'ｓｏｒａ']

# 이름이 'S'로 시작하는 고객
result = df[df['이름'].str.startswith('ｓ')]

# 결과
result[['이름', '상품', '가격', '수량']]

      이름   상품      가격  수량
0   ｓａｒａ    책   30000   3
3  ｓｏｒｏｓ  자전거  120000   4
4   ｓｏｒａ  헤드폰  200000   2

In [8]:
# 문제 5. 거래 기간이 5년 이상이면서 이름이 S로 시작하는 고객 조회 (참고: and(&), or(|), not(~))

In [72]:
# 거래 기간 및 고객 이름 추가
df['기간'] = [3, 6, 8, 2, 10]
df['이름'] = ['ｓａｒａ', 'ａｒａａ', 'ａｈａ', 'ｓｏｒｏｓ', 'ｓｏｒａ']

# 이름이 '사'로 시작하고 거래 기간이 5년 이상인 고객 필터링
result = df[(df['이름'].str.startswith('ｓ')) & (df['기간'] >= 5)]

# 결과 출력
print(result[['이름', '기간', '상품', '가격', '수량']])

     이름  기간   상품      가격  수량
4  ｓｏｒａ  10  헤드폰  200000   2