##### [실습] titanic 승객 데이터 활용

**컬럼 설명** 
- PassengerId - 승객 고유번호
- Survived - 생존유무(target 값) (0 = 사망, 1 = 생존)
- Pclass - 티켓 클래스 (1 = 1st, 2 = 2nd, 3 = 3rd)
- Name - 탑승객 성명
- Sex - 성별 (male: 남성, female: 여성)
- Age - 나이(세)
- SibSp - 함께 탑승한 형제자매, 배우자 수 총합
- Parch - 함께 탑승한 부모, 자녀 수 총합
- Ticket - 티켓 넘버
- Fare - 탑승 요금
- Cabin - 객실 넘버
- Embarked - 탑승 항구 (C: Cherbourg, Q: Queenstown, S: Southampton)

In [37]:
# titanic.csv 파일 로드
# titanic 데이터셋의 메타 데이터 확인

import numpy as np
import pandas as pd

df = pd.read_csv('./data/titanic.csv')
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

- 기초문제

In [19]:
# 1. 전체 승객 중 생존자의 수와 사망자의 수를 구하여 출력
survie = df['Survived'].value_counts()
print("사망자 수: ", survie[0])
print("생존자 수: ", survie[1])

사망자 수:  549
생존자 수:  342

In [23]:
# 2. 승객 나이의 평균 출력
print('승객의 평균 나이: ', df['Age'].mean(), '살')

승객의 평균 나이:  29.69911764705882 살

In [51]:
# 3. 1등급 승객 중 운임이 가장 높은 승객의 이름 출력
First_class = df[(df['Pclass']==1) & (df['Fare'] == 512.329200)]
print(First_class[['Name']])

                                   Name
258                    Ward, Miss. Anna
679  Cardeza, Mr. Thomas Drake Martinez
737              Lesurer, Mr. Gustave J

In [44]:
# 4. 여성 승객의 수를 구하여 출력
print('여성 승객 수: ', df['Sex'].value_counts()['female'])

여성 승객 수:  314

In [50]:
# 5. 운임이 50 이상인 승객의 이름과 운임 출력
rich = df[df['Fare'] >= 50]
rich[['Name', 'Fare']]

                                                  Name      Fare
1    Cumings, Mrs. John Bradley (Florence Briggs Th...   71.2833
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)   53.1000
6                              McCarthy, Mr. Timothy J   51.8625
27                      Fortune, Mr. Charles Alexander  263.0000
31      Spencer, Mrs. William Augustus (Marie Eugenie)  146.5208
..                                                 ...       ...
856         Wick, Mrs. George Dennick (Mary Hitchcock)  164.8667
863                  Sage, Miss. Dorothy Edith "Dolly"   69.5500
867               Roebling, Mr. Washington Augustus II   50.4958
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)   52.5542
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)   83.1583

[161 rows x 2 columns]

In [63]:
# 6. 나이가 18세 미만인 승객들의 생존율을 계산하여 출력
young = df[df['Age']<18]
young_sv = young['Survived'].value_counts()
print('18세 미만 승객의 생존율: ', young_sv[1] / (young_sv[0] + young_sv[1]) * 100, '%')

18세 미만 승객의 생존율:  53.98230088495575 %

In [30]:
# 7. 2등급 객실에 탑승한 승객의 평균 운임을 계산하여 출력

In [31]:
# 8. 승객 중 나이가 가장 많은 사람의 나이와 이름을 출력

In [32]:
# 9. S 항구에서 탑승한 승객의 수를 출력

In [33]:
# 10. 3등급 객실에 탑승한 남성 승객 중 생존자의 수를 출력

- 고급문제

In [34]:
# 1. 생존자(Survived)와 그렇지 않은 사람들의 `Pclass`(객실 등급)별 평균 나이를 각각 출력

In [35]:
# 2. `SibSp`(형제/배우자 수)가 3 이상인 승객들 중에서, `Fare`(운임) 상위 5명의 이름과 나이를 출력

In [36]:
# 3. 승객 중에서 `Age` 값이 결측치(NaN)인 사람들의 `Embarked`(탑승 항구)별 분포를 출력

In [37]:
# 4. 나이가 16세 미만이고, 혼자 탑승한(`SibSp == 0` and `Parch == 0`) 승객의 이름과 성별, 생존 여부를 출력

In [38]:
# 5. 1등급(Pclass == 1) 객실에 탑승한 승객들 중에서, 운임(Fare)이 평균보다 높은 사람들의 이름과 나이, 운임을 출력

In [39]:
# 6. 나이(Age), 객실 등급(Pclass), 운임(Fare) 값에 결측치가 없는 승객들만 대상으로, 각 등급별 평균 운임과 중앙값 운임을 출력

In [40]:
# 7. 승객들의 `Embarked` 별 평균 나이를 계산하고, 가장 많은 승객이 탑승한 항구를 기준으로 생존율을 계산하여 출력

In [41]:
# 8. 승객 중에서 여성(`Sex == 'female'`)이면서 30세 이상인 사람들의 생존율을 계산하여 출력

In [42]:
# 9. 동반한 형제 또는 배우자 수(`SibSp`)와 부모 또는 자녀 수(`Parch`)의 합이 3 이상인 승객들만을 대상으로, 그들의 생존율을 계산하여 출력

In [43]:
# 10. `Cabin`(객실 번호) 정보가 있는 승객들만을 대상으로, 그들의 생존율을 객실 등급별로 구분하여 계산하여 출력