In [1]:
import numpy as np
import pandas as pd

##### [실습] titanic 승객 데이터 활용

**컬럼 설명** 
- PassengerId - 승객 고유번호
- Survived - 생존유무(target 값) (0 = 사망, 1 = 생존)
- Pclass - 티켓 클래스 (1 = 1st, 2 = 2nd, 3 = 3rd)
- Name - 탑승객 성명
- Sex - 성별 (male: 남성, female: 여성)
- Age - 나이(세)
- SibSp - 함께 탑승한 형제자매, 배우자 수 총합
- Parch - 함께 탑승한 부모, 자녀 수 총합
- Ticket - 티켓 넘버
- Fare - 탑승 요금
- Cabin - 객실 넘버
- Embarked - 탑승 항구 (C: Cherbourg, Q: Queenstown, S: Southampton)

In [29]:
# titanic.csv 파일 로드

df = pd.read_csv('./data/titanic.csv')
# df
# titanic 데이터셋의 메타 데이터 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

- 기초문제

In [3]:
# 1. 전체 승객 중 생존자의 수와 사망자의 수를 구하여 출력
survival_counts = df['Survived'].value_counts()


print(survival_counts[1])
print(survival_counts[0])

342
549

In [4]:
# 2. 승객 나이의 평균 출력
# average_age = df['age'].mean()
# print(average_age)
df['Age'].mean()

np.float64(29.69911764705882)

In [5]:
# 3. 1등급 승객 중 운임이 가장 높은 승객의 이름 출력
df[df['Pclass']==1]
df['Fare'].max()

np.float64(512.3292)

In [6]:
# 4. 여성 승객의 수를 구하여 출력

www = df['Sex'].value_counts()
print(www['female'])

314

In [31]:
# 5. 운임이 50 이상인 승객의 이름과 운임 출력
namefare = df[df['Fare'] >= 50][['Name', 'Fare']]
print(namefare)

                                                  Name      Fare
1    Cumings, Mrs. John Bradley (Florence Briggs Th...   71.2833
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)   53.1000
6                              McCarthy, Mr. Timothy J   51.8625
27                      Fortune, Mr. Charles Alexander  263.0000
31      Spencer, Mrs. William Augustus (Marie Eugenie)  146.5208
..                                                 ...       ...
856         Wick, Mrs. George Dennick (Mary Hitchcock)  164.8667
863                  Sage, Miss. Dorothy Edith "Dolly"   69.5500
867               Roebling, Mr. Washington Augustus II   50.4958
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)   52.5542
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)   83.1583

[161 rows x 2 columns]

In [28]:
# 6. 나이가 18세 미만인 승객들의 생존율을 계산하여 출력
# 18세 미만
under_18 = df[df['Age'] < 18]

# 생존율
alive = under_18['Survived'].mean()
print(alive)

np.float64(0.5398230088495575)

In [30]:
# 7. 2등급 객실에 탑승한 승객의 평균 운임을 계산하여 출력
# 2등급객실승객
second = df[df['Pclass'] == 2]

avgfare = second['Fare'].mean()
print(avgfare)

20.662183152173913

In [33]:
# 8. 승객 중 나이가 가장 많은 사람의 나이와 이름을 출력
old = df['Age'].max()

# 나이가 가장 많은 사람
oldest = df[df['Age'] == old]

# 나이와 이름을 출력
name = oldest['Name'].iloc[0]
age = oldest['Age'].iloc[0]
print(name,age)

Barkworth, Mr. Algernon Henry Wilson 80.0

In [36]:
# 9. S 항구에서 탑승한 승객의 수를 출력
s = df['Embarked'].value_counts()['S']
s

np.int64(644)

In [40]:
# 10. 3등급 객실에 탑승한 남성 승객 중 생존자의 수를 출력
# 조건에 따라 필터링
tcms = df[(df['Pclass'] == 3) & (df['Sex'] == 'male') & (df['Survived'] == 1)]
# 생존자
survivor = len(tcms)
# 결과 출력
print(survivor)

47

- 고급문제

In [13]:
# 1. 생존자(Survived)와 그렇지 않은 사람들의 `Pclass`(객실 등급)별 평균 나이를 각각 출력

In [14]:
# 2. `SibSp`(형제/배우자 수)가 3 이상인 승객들 중에서, `Fare`(운임) 상위 5명의 이름과 나이를 출력

In [15]:
# 3. 승객 중에서 `Age` 값이 결측치(NaN)인 사람들의 `Embarked`(탑승 항구)별 분포를 출력

In [16]:
# 4. 나이가 16세 미만이고, 혼자 탑승한(`SibSp == 0` and `Parch == 0`) 승객의 이름과 성별, 생존 여부를 출력

In [17]:
# 5. 1등급(Pclass == 1) 객실에 탑승한 승객들 중에서, 운임(Fare)이 평균보다 높은 사람들의 이름과 나이, 운임을 출력

In [18]:
# 6. 나이(Age), 객실 등급(Pclass), 운임(Fare) 값에 결측치가 없는 승객들만 대상으로, 각 등급별 평균 운임과 중앙값 운임을 출력

In [19]:
# 7. 승객들의 `Embarked` 별 평균 나이를 계산하고, 가장 많은 승객이 탑승한 항구를 기준으로 생존율을 계산하여 출력

In [20]:
# 8. 승객 중에서 여성(`Sex == 'female'`)이면서 30세 이상인 사람들의 생존율을 계산하여 출력

In [21]:
# 9. 동반한 형제 또는 배우자 수(`SibSp`)와 부모 또는 자녀 수(`Parch`)의 합이 3 이상인 승객들만을 대상으로, 그들의 생존율을 계산하여 출력

In [22]:
# 10. `Cabin`(객실 번호) 정보가 있는 승객들만을 대상으로, 그들의 생존율을 객실 등급별로 구분하여 계산하여 출력