##### [실습] titanic 승객 데이터 활용

**컬럼 설명** 
- PassengerId - 승객 고유번호
- Survived - 생존유무(target 값) (0 = 사망, 1 = 생존)
- Pclass - 티켓 클래스 (1 = 1st, 2 = 2nd, 3 = 3rd)
- Name - 탑승객 성명
- Sex - 성별 (male: 남성, female: 여성)
- Age - 나이(세)
- SibSp - 함께 탑승한 형제자매, 배우자 수 총합
- Parch - 함께 탑승한 부모, 자녀 수 총합
- Ticket - 티켓 넘버
- Fare - 탑승 요금
- Cabin - 객실 넘버
- Embarked - 탑승 항구 (C: Cherbourg, Q: Queenstown, S: Southampton)

In [1]:
# titanic.csv 파일 로드
# titanic 데이터셋의 메타 데이터 확인

import numpy as np
import pandas as pd

df = pd.read_csv('./data/titanic.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

- 기초문제

In [2]:
# 1. 전체 승객 중 생존자의 수와 사망자의 수를 구하여 출력
print(df['Survived'].value_counts())

Survived
0    549
1    342
Name: count, dtype: int64

In [3]:
# 2. 승객 나이의 평균 출력
print(df['Age'].mean())

29.69911764705882

In [4]:
# 3. 1등급 승객 중 운임이 가장 높은 승객의 이름 출력
print(df[df['Pclass'] == 1].loc[df['Fare'].idxmax(), 'Name'])

Ward, Miss. Anna

In [5]:
# 4. 여성 승객의 수를 구하여 출력
print(len(df[df['Sex'] == 'female']))

314

In [23]:
# 5. 운임이 50 이상인 승객의 이름과 운임 출력
# df[df['Fare'] >= 50]
# ['Name', 'Fare']
print(df[df['Fare'] >= 50][['Name', 'Fare']])

                                                  Name      Fare
1    Cumings, Mrs. John Bradley (Florence Briggs Th...   71.2833
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)   53.1000
6                              McCarthy, Mr. Timothy J   51.8625
27                      Fortune, Mr. Charles Alexander  263.0000
31      Spencer, Mrs. William Augustus (Marie Eugenie)  146.5208
..                                                 ...       ...
856         Wick, Mrs. George Dennick (Mary Hitchcock)  164.8667
863                  Sage, Miss. Dorothy Edith "Dolly"   69.5500
867               Roebling, Mr. Washington Augustus II   50.4958
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)   52.5542
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)   83.1583

[161 rows x 2 columns]

In [7]:
# 6. 나이가 18세 미만인 승객들의 생존율을 계산하여 출력

# print(df[df['Age'] < 18].loc[df['Survived'].mean()])
print(df[df['Age'] < 18]['Survived'].mean())

0.5398230088495575

In [24]:
# 7. 2등급 객실에 탑승한 승객의 평균 운임을 계산하여 출력
print(df[df['Pclass'] == 2]['Fare'].mean())

20.662183152173913

In [35]:
# 8. 승객 중 나이가 가장 많은 사람의 나이와 이름을 출력
older = df.loc[df['Age'].idxmax()]
print(older[['Name', 'Age']])

Name    Barkworth, Mr. Algernon Henry Wilson
Age                                     80.0
Name: 630, dtype: object

In [44]:
# 9. S 항구에서 탑승한 승객의 수를 출력
print(len(df[df['Embarked'] == 'S']))

644

In [48]:
# 10. 3등급 객실에 탑승한 남성 승객 중 생존자의 수를 출력
# 객실 = 3등급
# 승객 성별 = 남성 조건
# 생존 여부 1인 사람
# 몇 명인가가
survived_person = df[(df['Pclass'] == 3)&(df['Sex'] == 'male')&(df['Survived'] == 1)]
print(len(survived_person))

47

- 고급문제

In [52]:
# 1. 생존자(Survived)와 그렇지 않은 사람들의 `Pclass`(객실 등급)별 평균 나이를 각각 출력

arrive_p = df[df['Survived'] == 1].groupby('Pclass')['Age'].mean()
death_p = df[df['Survived'] == 0].groupby('Pclass')['Age'].mean()
print(arrive_p)
print(death_p)

Pclass
1    35.368197
2    25.901566
3    20.646118
Name: Age, dtype: float64
Pclass
1    43.695312
2    33.544444
3    26.555556
Name: Age, dtype: float64

In [60]:
# 2. `SibSp`(형제/배우자 수)가 3 이상인 승객들 중에서, `Fare`(운임) 상위 5명의 이름과 나이를 출력
# SibSp >= 3
# 'Fare'  상위 5명
# 'Name', 'Age' 출력
sibsp_3 = df[df['SibSp'] >= 3]
sorted_fare = sibsp_3.sort_values(by='Fare', ascending=False)
top_5 = sorted_fare.head(5)

print(top_5[['Name', 'Age']])

                               Name   Age
27   Fortune, Mr. Charles Alexander  19.0
88       Fortune, Miss. Mabel Helen  23.0
341  Fortune, Miss. Alice Elizabeth  24.0
159      Sage, Master. Thomas Henry   NaN
180    Sage, Miss. Constance Gladys   NaN

In [69]:
# 3. 승객 중에서 `Age` 값이 결측치(NaN)인 사람들의 `Embarked`(탑승 항구)별 분포를 출력
# 'Age' 값 결측치인 사람 조건
# 'Embarked'별 그룹화 -> 수 출력
print(df[df['Age'].isna()]['Embarked'].value_counts())

Embarked
S    90
Q    49
C    38
Name: count, dtype: int64

In [71]:
# 4. 나이가 16세 미만이고, 혼자 탑승한(`SibSp == 0` and `Parch == 0`) 승객의 이름과 성별, 생존 여부를 출력
# 나이 16세 미만
# 'SibSp == 0` and `Parch == 0`
# 해당 승객의 이름, 성별, 생존여부 출력
alone = df[(df['Age'] < 16) & (df['SibSp'] == 0) & (df['Parch'] == 0)]
print(alone[['Name', 'Sex', 'Survived']])

                                     Name     Sex  Survived
14   Vestrom, Miss. Hulda Amanda Adolfina  female         0
22            McGowan, Miss. Anna "Annie"  female         1
731              Hassan, Mr. Houssein G N    male         0
777         Emanuel, Miss. Virginia Ethel  female         1
780                  Ayoub, Miss. Banoura  female         1
875      Najib, Miss. Adele Kiamie "Jane"  female         1

In [76]:
# 5. 1등급(Pclass == 1) 객실에 탑승한 승객들 중에서, 운임(Fare)이 평균보다 높은 사람들의 이름과 나이, 운임을 출력
# Pclass == 1 
# 해당 승객 중 Fare이 평균보다 높은 
# 1등급의 Fare 평균 운임을 구해서 비교
# 이름, 나이, 운임을 출력
pclass_1_fare_mean = df[df['Pclass'] == 1]['Fare'].mean() # 1등급 평균 운임

print(df[(df['Pclass'] == 1) & (df['Fare'] > pclass_1_fare_mean)][['Name', 'Age', 'Fare']])

                                                  Name   Age      Fare
27                      Fortune, Mr. Charles Alexander  19.0  263.0000
31      Spencer, Mrs. William Augustus (Marie Eugenie)   NaN  146.5208
88                          Fortune, Miss. Mabel Helen  23.0  263.0000
118                           Baxter, Mr. Quigg Edmond  24.0  247.5208
195                               Lurette, Miss. Elise  58.0  146.5208
..                                                 ...   ...       ...
779  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...  43.0  211.3375
802                Carter, Master. William Thornton II  11.0  120.0000
820  Hays, Mrs. Charles Melville (Clara Jennings Gr...  52.0   93.5000
849       Goldenberg, Mrs. Samuel L (Edwiga Grabowska)   NaN   89.1042
856         Wick, Mrs. George Dennick (Mary Hitchcock)  45.0  164.8667

[66 rows x 3 columns]

In [82]:
# 6. 나이(Age), 객실 등급(Pclass), 운임(Fare) 값에 결측치가 없는 승객들만 대상으로, 각 등급별 평균 운임과 중앙값 운임을 출력
# 나이, 객실 등급, 운임 결측치 없는 승객
# 등급별 그룹화
# 평균운임, 중앙값운임 출력
clean_data = df.dropna(subset=['Age', 'Pclass', 'Fare']) # 결측치 없는 데이터 필터링
print(clean_data.groupby('Pclass')['Fare'].agg(['mean', 'median'])) # 운임의 평균값, 중위값 통계

             mean   median
Pclass
1       87.961582  69.3000
2       21.471556  15.0458
3       13.229435   8.0500

In [93]:
# 7. 승객들의 `Embarked` 별 평균 나이를 계산하고, 가장 많은 승객이 탑승한 항구를 기준으로 생존율을 계산하여 출력
# Embarked 그룹화
# 그룹별 평균 나이
# 승객 수 많은 항구 그룹
# 승객 생존율 출력 -> 평균값
print(df.groupby('Embarked')['Age'].mean())

most_embarked = df['Embarked'].value_counts().idxmax()
print(df[df['Embarked'] == most_embarked]['Survived'].mean())

Embarked
C    30.814769
Q    28.089286
S    29.445397
Name: Age, dtype: float64
0.33695652173913043

In [94]:
# 8. 승객 중에서 여성(`Sex == 'female'`)이면서 30세 이상인 사람들의 생존율을 계산하여 출력
# 성별=여성 / 나이 >= 30
# 사람들의 생존율 -> Survived 평균값
print(df[(df['Sex'] == 'female') & (df['Age'] >= 30)]['Survived'].mean())

0.8070175438596491

In [98]:
# 9. 동반한 형제 또는 배우자 수(`SibSp`)와 부모 또는 자녀 수(`Parch`)의 합이 3 이상인 승객들만을 대상으로, 그들의 생존율을 계산하여 출력
# sibsp + parch >= 3 승객들 찾기
# 그 승객들 생존율 -> survived 평균값
df['Family'] = df['SibSp'] + df['Parch']
print(df[df['Family'] >= 3]['Survived'].mean())

0.34065934065934067

In [102]:
# 10. `Cabin`(객실 번호) 정보가 있는 승객들만을 대상으로, 그들의 생존율을 객실 등급별로 구분하여 계산하여 출력
# cabin 결측치 제거해서 정보가 있는 승객들 필터링
# 객실 등급으로 그룹
# 위 두 조건 만족하는 승객들 생존율 출력
clean_data = df.dropna(subset='Cabin')
print(clean_data.groupby('Pclass')['Survived'].mean())

Pclass
1    0.664773
2    0.812500
3    0.500000
Name: Survived, dtype: float64