##### [실습] titanic 승객 데이터 활용

**컬럼 설명** 
- PassengerId - 승객 고유번호
- Survived - 생존유무(target 값) (0 = 사망, 1 = 생존)
- Pclass - 티켓 클래스 (1 = 1st, 2 = 2nd, 3 = 3rd)
- Name - 탑승객 성명
- Sex - 성별 (male: 남성, female: 여성)
- Age - 나이(세)
- SibSp - 함께 탑승한 형제자매, 배우자 수 총합
- Parch - 함께 탑승한 부모, 자녀 수 총합
- Ticket - 티켓 넘버
- Fare - 탑승 요금
- Cabin - 객실 넘버
- Embarked - 탑승 항구 (C: Cherbourg, Q: Queenstown, S: Southampton)

In [1]:
# titanic.csv 파일 로드
# titanic 데이터셋의 메타 데이터 확인

import numpy as np
import pandas as pd

df = pd.read_csv('./data/titanic.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

- 기초문제

In [185]:
# 1. 전체 승객 중 생존자의 수와 사망자의 수를 구하여 출력

count_passengers = len(df['Survived'])          # 전체 row 수

count_survived = len(df[df['Survived'] == 1])   # 생존자 row 수

count_died = len(df[df['Survived'] == 0])       # 사망자 row 수

print(f'전체 승객 수: {count_passengers}명\
      \n생존자 수: {count_survived}명\
      \n사망자 수: {count_died}명')

전체 승객 수: 891명
생존자 수: 342명
사망자 수: 549명

In [186]:
# 2. 승객 나이의 평균 출력

count_passengers = len(df['Survived'])      # 전체 승객 수
age_null = df['Age'].isna().sum()           # 나이결측 승객 수
age_mean = df['Age'].mean()                 # 확인승객 평균나이
age_median = int(df['Age'].median())        # 확인승객 중앙나이

# print(f'전체 승객 수: {count_passengers}명\
#       \n나이결측 승객 수: {age_null}명\
#       \n확인승객 평균나이: {age_mean:.2f}세\
#       \n확인승객 중앙나이: {age_median}세')
# print('\n')

# 평균나이와 중앙나이 차이가 10% 미만이므로 결측치를 평균나이로 처리
filled_age_mean = df['Age'].fillna(age_mean)
passengers_age_mean = filled_age_mean.mean()

print(f'전체 승객 나이 평균: {passengers_age_mean:.2f}')

전체 승객 나이 평균: 29.70

In [187]:
# 3. 1등급 승객 중 운임이 가장 높은 승객의 이름 출력

pclass_first = df[df['Pclass'] == 1]            # 1등급 승객 명단 df
pclass_first_max = pclass_first['Fare'].max()   # 1등급 승객 명단 중에 가장 높은 운임
pclass_first_rich = pclass_first[pclass_first['Fare'] == pclass_first_max]  # 명단이랑 비교


# print(len(pclass_first_rich['Name']))           # 이름 컬럼의 숫자를 찾아보니 세 명
pclass_first_list = list(pclass_first_rich['Name'])     # 이름을 리스트로 담기기

for n in pclass_first_list:                     # 하나씩 출력
    print(n)

Ward, Miss. Anna
Cardeza, Mr. Thomas Drake Martinez
Lesurer, Mr. Gustave J

In [188]:
# 4. 여성 승객의 수를 구하여 출력

# print(len(df['Sex']))                   # 전체 승객 수
# print(len(df[df['Sex'] == 'male']))     # 남성 승객 수
print(len(df[df['Sex'] == 'female']))   # 여성 승객 수

314

In [189]:
# 5. 운임이 50 이상인 승객의 이름과 운임 출력

fare_fifty = df[df['Fare'] >= 50]       # 운임이 50 이상
print(fare_fifty[['Name', 'Fare']])     # 이름과 운임 출력

                                                  Name      Fare
1    Cumings, Mrs. John Bradley (Florence Briggs Th...   71.2833
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)   53.1000
6                              McCarthy, Mr. Timothy J   51.8625
27                      Fortune, Mr. Charles Alexander  263.0000
31      Spencer, Mrs. William Augustus (Marie Eugenie)  146.5208
..                                                 ...       ...
856         Wick, Mrs. George Dennick (Mary Hitchcock)  164.8667
863                  Sage, Miss. Dorothy Edith "Dolly"   69.5500
867               Roebling, Mr. Washington Augustus II   50.4958
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)   52.5542
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)   83.1583

[161 rows x 2 columns]

In [190]:
# 6. 나이가 18세 미만인 승객들의 생존율을 계산하여 출력

# len(df['Survived'])                         # 전체 승객 수
under_eighteen = df[df['Age'] <= 18]        # 18세 미만 승객 수
under_eighteen_survived = len(under_eighteen[under_eighteen['Survived'] == 1]) \
/ len(under_eighteen['Survived']) * 100     # 18세 미만 승객 생존율

print(f'18세 미만 승객 생존율: {under_eighteen_survived:.2f} %')

18세 미만 승객 생존율: 50.36 %

In [191]:
# 7. 2등급 객실에 탑승한 승객의 평균 운임을 계산하여 출력

# len(df['Pclass'])                               # 전체 승객 수
pclass_second = df[df['Pclass'] == 2]           # 2등급 객실 승객
pclass_second_fare_mean = pclass_second['Fare'].mean()  # 2등급 객실 승객 평균 운임
print(f'{pclass_second_fare_mean:.2f} 파운드')

20.66 파운드

In [192]:
# 8. 승객 중 나이가 가장 많은 사람의 나이와 이름을 출력

oldest_age = df['Age'].max()                # 최고령자 나이
oldest_passenger = df[df['Age'] == 80]      # 80세 조건
print(oldest_passenger[['Age', 'Name']])    # 해당 조건의 나이와 이름 출력

      Age                                  Name
630  80.0  Barkworth, Mr. Algernon Henry Wilson

In [193]:
# 9. S 항구에서 탑승한 승객의 수를 출력

# df.info()           # 889명 (결측치 2명 확인)

embarked_s = df[df['Embarked'] == 'S']
sum_s = embarked_s['Embarked'].count().sum()            # S항구: 644명
print(f'S 항구 탑승객: {sum_s} 명')

# embarked_q = df[df['Embarked'] == 'Q']
# embarked_q['Embarked'].count().sum()                    # Q항구: 77명

# embarked_c = df[df['Embarked'] == 'C']
# embarked_c['Embarked'].count().sum()                    # C항구: 168명

S 항구 탑승객: 644 명

In [194]:
# 10. 3등급 객실에 탑승한 남성 승객 중 생존자의 수를 출력

# len(df['Pclass'])                                   # 전체 승객 수
pclass_third = df[df['Pclass'] == 3]                # 3등급 객실 승객

pclass_third_male = pclass_third[pclass_third['Sex'] == 'male']     # 3등급 객실 남성

pclass_third_male_survived = len(pclass_third_male[pclass_third_male['Survived'] == 1]) # 3등급 객실 남성 생존율

print(f'3등급 객실 남성 생존자 수: {pclass_third_male_survived} 명')

3등급 객실 남성 생존자 수: 47 명

- 고급문제

In [195]:
# 1. 생존자(Survived)와 그렇지 않은 사람들의 `Pclass`(객실 등급)별 평균 나이를 각각 출력

# df.info()                   # 결측치 없음 확인

survived = df[df['Survived'] == 1]                      # 생존자
survived_first = survived[survived['Pclass'] == 1]      # 생존자 중 1등 객실
survived_second = survived[survived['Pclass'] == 2]     # 생존자 중 2등 객실
survived_third = survived[survived['Pclass'] == 3]      # 생존자 중 3등 객실
survived_first_mean = survived_first['Age'].mean()      # 1등 객실 생존자 평균 나이
survived_second_mean = survived_second['Age'].mean()    # 2등 객실 생존자 평균 나이
survived_third_mean = survived_third['Age'].mean()      # 3등 객실 생존자 평균 나이

print(f'{survived_first_mean:.2f} 세, {survived_second_mean:.2f} 세, {survived_third_mean:.2f} 세')

unsurvived = df[df['Survived'] == 0]                        # 사망자
unsurvived_first = unsurvived[unsurvived['Pclass'] == 1]    # 사망자 중 1등 객실
unsurvived_second = unsurvived[unsurvived['Pclass'] == 2]   # 사망자 중 2등 객실
unsurvived_third = unsurvived[unsurvived['Pclass'] == 3]    # 사망자 중 3등 객실
unsurvived_first_mean = unsurvived_first['Age'].mean()      # 1등 객실 사망자 평균 나이
unsurvived_second_mean =unsurvived_second['Age'].mean()     # 2등 객실 사망자 평균 나이
unsurvived_third_mean = unsurvived_third['Age'].mean()      # 3등 객실 사망자 평균 나이

print(f'{unsurvived_first_mean:.2f} 세, {unsurvived_second_mean:.2f} 세, {unsurvived_third_mean:.2f} 세')

35.37 세, 25.90 세, 20.65 세
43.70 세, 33.54 세, 26.56 세

In [196]:
# 2. `SibSp`(형제/배우자 수)가 3 이상인 승객들 중에서, `Fare`(운임) 상위 5명의 이름과 나이를 출력

# df.info()               # 결측치 없음 확인

sibsp_three = df[df['SibSp'] >= 3]
# sibsp_three_five = sibsp_three['Fare'].sort_values(ascending=False).head(5)
# print(sibsp_three_five) # 상위 5명 요금 확인

sibsp_three_top = sibsp_three.nlargest(5, 'Fare')
print(sibsp_three_top[['Name', 'Age']])     # 상위 5명 이름 나이 출력

                               Name   Age
27   Fortune, Mr. Charles Alexander  19.0
88       Fortune, Miss. Mabel Helen  23.0
341  Fortune, Miss. Alice Elizabeth  24.0
159      Sage, Master. Thomas Henry   NaN
180    Sage, Miss. Constance Gladys   NaN

In [197]:
# 3. 승객 중에서 `Age` 값이 결측치(NaN)인 사람들의 `Embarked`(탑승 항구)별 분포를 출력

age_nan = df[df['Age'].isna()]              # 나이 결측치 데이터만 수집
age_nan_embarked = age_nan['Embarked'].value_counts()   # 탑승 항구별 밸류 카운트
print(age_nan_embarked)

Embarked
S    90
Q    49
C    38
Name: count, dtype: int64

In [198]:
# 4. 나이가 16세 미만이고, 혼자 탑승한(`SibSp == 0` and `Parch == 0`) 승객의 이름과 성별, 생존 여부를 출력

sixteen_solo = df[(df['Age'] <= 16) & (df['SibSp'] == 0) & (df['Parch'] == 0)]
print(sixteen_solo[['Name', 'Sex', 'Survived']])

                                     Name     Sex  Survived
14   Vestrom, Miss. Hulda Amanda Adolfina  female         0
22            McGowan, Miss. Anna "Annie"  female         1
138                   Osen, Mr. Olaf Elon    male         0
156      Gilnagh, Miss. Katherine "Katie"  female         1
208             Carr, Miss. Helen "Ellen"  female         1
220        Sunderland, Mr. Victor Francis    male         1
282             de Pelsmaeker, Mr. Alfons    male         0
504                 Maioni, Miss. Roberta  female         1
574          Rush, Mr. Alfred George John    male         0
731              Hassan, Mr. Houssein G N    male         0
764                Eklund, Mr. Hans Linus    male         0
777         Emanuel, Miss. Virginia Ethel  female         1
780                  Ayoub, Miss. Banoura  female         1
791                   Gaskell, Mr. Alfred    male         0
841              Mudd, Mr. Thomas Charles    male         0
875      Najib, Miss. Adele Kiamie "Jane"  female         1

In [199]:
# 5. 1등급(Pclass == 1) 객실에 탑승한 승객들 중에서, 운임(Fare)이 평균보다 높은 사람들의 이름과 나이, 운임을 출력

pclass_first_upper = df[(df['Pclass'] == 1) & (df['Fare'] >= df['Fare'].mean())]
print(pclass_first_upper[['Name', 'Age', 'Fare']])

                                                  Name   Age      Fare
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0   71.2833
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0   53.1000
6                              McCarthy, Mr. Timothy J  54.0   51.8625
23                        Sloper, Mr. William Thompson  28.0   35.5000
27                      Fortune, Mr. Charles Alexander  19.0  263.0000
..                                                 ...   ...       ...
853                          Lines, Miss. Mary Conover  16.0   39.4000
856         Wick, Mrs. George Dennick (Mary Hitchcock)  45.0  164.8667
867               Roebling, Mr. Washington Augustus II  31.0   50.4958
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  47.0   52.5542
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  56.0   83.1583

[159 rows x 3 columns]

In [200]:
# 6. 나이(Age), 객실 등급(Pclass), 운임(Fare) 값에 결측치가 없는 승객들만 대상으로, 각 등급별 평균 운임과 중앙값 운임을 출력

drop_nan = df.dropna(subset=['Age', 'Pclass', 'Fare'])  # 항목별 결측치 모두 드랍
drop_nan_first = drop_nan[drop_nan['Pclass'] == 1]      # 드랍 후 1등 객실
drop_nan_second = drop_nan[drop_nan['Pclass'] == 2]     # 드랍 후 2등 객실
drop_nan_third = drop_nan[drop_nan['Pclass'] == 3]      # 드랍 후 3등 객실

print(f'1등급 운임 평균값 및 중앙값\n{drop_nan_first['Fare'].mean():.2f}, {drop_nan_first['Fare'].median():.2f}\n')
print(f'2등급 운임 평균값 및 중앙값\n{drop_nan_second['Fare'].mean():.2f}, {drop_nan_second['Fare'].median():.2f}\n')
print(f'3등급 운임 평균값 및 중앙값\n{drop_nan_third['Fare'].mean():.2f}, {drop_nan_third['Fare'].median():.2f}')

1등급 운임 평균값 및 중앙값
87.96, 69.30

2등급 운임 평균값 및 중앙값
21.47, 15.05

3등급 운임 평균값 및 중앙값
13.23, 8.05

In [227]:
# 7. 승객들의 `Embarked` 별 평균 나이를 계산하고, 가장 많은 승객이 탑승한 항구를 기준으로 생존율을 계산하여 출력

embarked_age_mean = df.groupby('Embarked')['Age'].mean().round(2)   # 그룹바이 소수점 둘째자리
print(embarked_age_mean)    # 항구별 평균나이
# S항구: 644명 / C항구: 168명 / Q항구: 77명

embarked_s = df[df['Embarked'] == 'S']  # S항구: 644명
embarked_s_ratio = len(embarked_s[embarked_s['Survived'] == 1]) / len(embarked_s) * 100 
print(f'S 항구 탑승객 생존율: {embarked_s_ratio:.2f} %')

embarked_q = df[df['Embarked'] == 'Q']  # Q항구: 77명
embarked_q_ratio = len(embarked_q[embarked_q['Survived'] == 1]) / len(embarked_q) * 100 
print(f'Q 항구 탑승객 생존율: {embarked_q_ratio:.2f} %')

embarked_c = df[df['Embarked'] == 'C']  # C항구: 168명
embarked_c_ratio = len(embarked_c[embarked_c['Survived'] == 1]) / len(embarked_c) * 100 
print(f'C 항구 탑승객 생존율: {embarked_c_ratio:.2f} %')

Embarked
C    30.81
Q    28.09
S    29.45
Name: Age, dtype: float64
S 항구 탑승객 생존율: 33.70 %
Q 항구 탑승객 생존율: 38.96 %
C 항구 탑승객 생존율: 55.36 %

In [228]:
# 8. 승객 중에서 여성(`Sex == 'female'`)이면서 30세 이상인 사람들의 생존율을 계산하여 출력

# df.info()

gold_miss = df[(df['Sex'] == 'female') & (df['Age'] >= 30)]
gold_miss_ratio = len(gold_miss) / len(df['Survived']) * 100
print(f'생존율: {gold_miss_ratio:.2f} %')

생존율: 12.79 %

In [229]:
# 9. 동반한 형제 또는 배우자 수(`SibSp`)와 부모 또는 자녀 수(`Parch`)의 합이 3 이상인 승객들만을 대상으로, 그들의 생존율을 계산하여 출력

# df.info()

three_family = df[(df['SibSp'] + df['Parch']) >= 3]
three_family_ratio = len(three_family) / len(df['Survived']) * 100
print(f'생존율: {three_family_ratio:.2f} %')

생존율: 10.21 %

In [238]:
# 10. `Cabin`(객실 번호) 정보가 있는 승객들만을 대상으로,
#  그들의 생존율을 객실 등급별로 구분하여 계산하여 출력

# df.info()

yes_cabin = df[df['Cabin'].notna()]

yes_cabin_first = yes_cabin[yes_cabin['Pclass'] == 1]
yes_cabin_second = yes_cabin[yes_cabin['Pclass'] == 2]
yes_cabin_third = yes_cabin[yes_cabin['Pclass'] == 3]

yes_cabin_first_ratio = len(yes_cabin_first) / len(yes_cabin) * 100
yes_cabin_second_ratio = len(yes_cabin_second) / len(yes_cabin) * 100
yes_cabin_third_ratio = len(yes_cabin_third) / len(yes_cabin) * 100

print(f'객실 번호 존재 승객 1등 객실 생존율: {yes_cabin_first_ratio:.2f} %')
print(f'객실 번호 존재 승객 2등 객실 생존율: {yes_cabin_second_ratio:.2f} %')
print(f'객실 번호 존재 승객 3등 객실 생존율: {yes_cabin_third_ratio:.2f} %')

객실 번호 존재 승객 1등 객실 생존율: 86.27 %
객실 번호 존재 승객 2등 객실 생존율: 7.84 %
객실 번호 존재 승객 3등 객실 생존율: 5.88 %