##### [실습] titanic 승객 데이터 활용

**컬럼 설명** 
- PassengerId - 승객 고유번호
- Survived - 생존유무(target 값) (0 = 사망, 1 = 생존)
- Pclass - 티켓 클래스 (1 = 1st, 2 = 2nd, 3 = 3rd)
- Name - 탑승객 성명
- Sex - 성별 (male: 남성, female: 여성)
- Age - 나이(세)
- SibSp - 함께 탑승한 형제자매, 배우자 수 총합
- Parch - 함께 탑승한 부모, 자녀 수 총합
- Ticket - 티켓 넘버
- Fare - 탑승 요금
- Cabin - 객실 넘버
- Embarked - 탑승 항구 (C: Cherbourg, Q: Queenstown, S: Southampton)

In [2]:
import numpy as np
import pandas as pd

In [3]:
# titanic.csv 파일 로드
df = pd.read_csv('./data/titanic.csv')
# titanic 데이터셋의 메타 데이터 확인
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

- 기초문제

In [5]:
# 1. 전체 승객 중 생존자의 수와 사망자의 수를 구하여 출력
print('생존자수:',df['Survived'].sum())
print('사망자수:',df['Survived'][df['Survived'] == 0].count())

생존자수: 342
사망자수: 549

In [6]:
# 2. 승객 나이의 평균 출력
print('승객 평균 연령:',np.round(df['Age'].dropna(how='any').mean(),2))

승객 평균 연령: 29.7

In [7]:
# 3. 1등급 승객 중 운임이 가장 높은 승객의 이름 출력
num_3 = df[df["Pclass"] == 1]
num_3_1 = num_3[num_3["Fare"] == num_3["Fare"].max()]['Name']
print(num_3_1)

258                      Ward, Miss. Anna
679    Cardeza, Mr. Thomas Drake Martinez
737                Lesurer, Mr. Gustave J
Name: Name, dtype: object

In [8]:
# 4. 여성 승객의 수를 구하여 출력
print('여성 승객 수:', df[df['Sex'] == 'female']['PassengerId'].count())

여성 승객 수: 314

In [9]:
# 5. 운임이 50 이상인 승객의 이름과 운임 출력
print(df[df['Fare'] >= 50][['Name','Fare']])

                                                  Name      Fare
1    Cumings, Mrs. John Bradley (Florence Briggs Th...   71.2833
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)   53.1000
6                              McCarthy, Mr. Timothy J   51.8625
27                      Fortune, Mr. Charles Alexander  263.0000
31      Spencer, Mrs. William Augustus (Marie Eugenie)  146.5208
..                                                 ...       ...
856         Wick, Mrs. George Dennick (Mary Hitchcock)  164.8667
863                  Sage, Miss. Dorothy Edith "Dolly"   69.5500
867               Roebling, Mr. Washington Augustus II   50.4958
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)   52.5542
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)   83.1583

[161 rows x 2 columns]

In [10]:
# 6. 나이가 18세 미만인 승객들의 생존율을 계산하여 출력
print('18세 미만인 승객들의 생존율',round(df['Survived'][df['Age'] < 18].mean(),4)*100,'%')

18세 미만인 승객들의 생존율 53.98 %

In [11]:
# 7. 2등급 객실에 탑승한 승객의 평균 운임을 계산하여 출력
print('2등급 객실에 탑승한 승객의 평균 운임 : ', round(df['Fare'][df['Pclass']==2].mean(),2))

2등급 객실에 탑승한 승객의 평균 운임 :  20.66

In [12]:
# 8. 승객 중 나이가 가장 많은 사람의 나이와 이름을 출력
print(df[df['Age'] == df['Age'].max()][['Name','Age']])

                                     Name   Age
630  Barkworth, Mr. Algernon Henry Wilson  80.0

In [13]:
# 9. S 항구에서 탑승한 승객의 수를 출력
print('S 항구에서 탑승한 승객의 수 : ', df[df['Embarked'] == 'S']['PassengerId'].count(),'명')

S 항구에서 탑승한 승객의 수 :  644 명

In [14]:
# 10. 3등급 객실에 탑승한 남성 승객 중 생존자의 수를 출력
print('3등급 객실에 탑승한 남성 승객 중 생존자의 수 : ', df[(df['Pclass'] == 3) & (df['Sex'] == 'male')]['Survived'].sum(),'명')

3등급 객실에 탑승한 남성 승객 중 생존자의 수 :  47 명

- 고급문제

In [15]:
# 1. 생존자(Survived)와 그렇지 않은 사람들의 `Pclass`(객실 등급)별 평균 나이를 각각 출력
print('생존자 객실별 - 1등석:',round(df[(df['Survived'] == 1) & (df['Pclass'] == 1)]['Age'].mean(),2),'세, 2등석:',round(df[(df['Survived'] == 1) & (df['Pclass'] == 2)]['Age'].mean(),2),'세, 3등석:',round(df[(df['Survived'] == 1) & (df['Pclass'] == 3)]['Age'].mean(),2),'세')
print('사망자 객실별 - 1등석:',round(df[(df['Survived'] == 0) & (df['Pclass'] == 1)]['Age'].mean(),2),'세, 2등석:',round(df[(df['Survived'] == 0) & (df['Pclass'] == 2)]['Age'].mean(),2),'세, 3등석:',round(df[(df['Survived'] == 0) & (df['Pclass'] == 3)]['Age'].mean(),2),'세')

생존자 객실별 - 1등석: 35.37 세, 2등석: 25.9 세, 3등석: 20.65 세
사망자 객실별 - 1등석: 43.7 세, 2등석: 33.54 세, 3등석: 26.56 세

In [16]:
# 2. `SibSp`(형제/배우자 수)가 3 이상인 승객들 중에서, `Fare`(운임) 상위 5명의 이름과 나이를 출력
print(df[df['SibSp'] >= 3].sort_values('Fare', ascending=False)[['Name','Age']][:6])

                               Name   Age
27   Fortune, Mr. Charles Alexander  19.0
88       Fortune, Miss. Mabel Helen  23.0
341  Fortune, Miss. Alice Elizabeth  24.0
159      Sage, Master. Thomas Henry   NaN
180    Sage, Miss. Constance Gladys   NaN
324        Sage, Mr. George John Jr   NaN

In [17]:
# 3. 승객 중에서 `Age` 값이 결측치(NaN)인 사람들의 `Embarked`(탑승 항구)별 분포를 출력
print(df[df['Age'].isnull()].groupby('Embarked').describe())

         PassengerId                                                       \
               count        mean         std   min     25%    50%     75%
Embarked
C               38.0  418.105263  277.427350  20.0  151.25  458.5  583.50
Q               49.0  420.102041  244.559404   6.0  242.00  389.0  614.00
S               90.0  451.388889  243.667839  18.0  239.75  461.5  647.75

                Survived            ... Parch       Fare             \
            max    count      mean  ...   75%  max count       mean
Embarked                            ...
C         860.0     38.0  0.368421  ...   0.0  2.0  38.0  31.413592
Q         829.0     49.0  0.448980  ...   0.0  2.0  49.0  10.424747
S         889.0     90.0  0.177778  ...   0.0  2.0  90.0  24.639302


                std     min     25%      50%      75%       max
Embarked
C         45.919479  7.2250  7.2292  14.4583  27.7208  227.5250
Q          5.245083  6.8583  7.7500   7.7500   8.4583   24.1500
S         31.608644  0.0000  7.8958   8.3875  30.3750  221.7792

[3 rows x 56 columns]

In [18]:
# 4. 나이가 16세 미만이고, 혼자 탑승한(`SibSp == 0` and `Parch == 0`) 승객의 이름과 성별, 생존 여부를 출력
print(df[(df['Age']<16) & (df['SibSp'] == 0) & (df['Parch'] == 0)][['Name','Sex','Survived']])

                                     Name     Sex  Survived
14   Vestrom, Miss. Hulda Amanda Adolfina  female         0
22            McGowan, Miss. Anna "Annie"  female         1
731              Hassan, Mr. Houssein G N    male         0
777         Emanuel, Miss. Virginia Ethel  female         1
780                  Ayoub, Miss. Banoura  female         1
875      Najib, Miss. Adele Kiamie "Jane"  female         1

In [19]:
# 5. 1등급(Pclass == 1) 객실에 탑승한 승객들 중에서, 운임(Fare)이 평균보다 높은 사람들의 이름과 나이, 운임을 출력
# 전체 평균 운임 계산
print(df[(df['Pclass']==1) & (df['Fare'] > df['Fare'].mean())][['Name','Age','Fare']])
# 1등급 평균 운임 계산
print(df[(df['Pclass']==1) & (df['Fare'] > df[df['Pclass']==1]['Fare'].mean())][['Name','Age','Fare']])

                                                  Name   Age      Fare
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0   71.2833
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0   53.1000
6                              McCarthy, Mr. Timothy J  54.0   51.8625
23                        Sloper, Mr. William Thompson  28.0   35.5000
27                      Fortune, Mr. Charles Alexander  19.0  263.0000
..                                                 ...   ...       ...
853                          Lines, Miss. Mary Conover  16.0   39.4000
856         Wick, Mrs. George Dennick (Mary Hitchcock)  45.0  164.8667
867               Roebling, Mr. Washington Augustus II  31.0   50.4958
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  47.0   52.5542
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  56.0   83.1583

[159 rows x 3 columns]
                                                  Name   Age      Fare
27                      Fortune, Mr. Charles Alexander  19.0  263.0000
31      Spencer, Mrs. William Augustus (Marie Eugenie)   NaN  146.5208
88                          Fortune, Miss. Mabel Helen  23.0  263.0000
118                           Baxter, Mr. Quigg Edmond  24.0  247.5208
195                               Lurette, Miss. Elise  58.0  146.5208
..                                                 ...   ...       ...
779  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...  43.0  211.3375
802                Carter, Master. William Thornton II  11.0  120.0000
820  Hays, Mrs. Charles Melville (Clara Jennings Gr...  52.0   93.5000
849       Goldenberg, Mrs. Samuel L (Edwiga Grabowska)   NaN   89.1042
856         Wick, Mrs. George Dennick (Mary Hitchcock)  45.0  164.8667

[66 rows x 3 columns]

In [20]:
# 6. 나이(Age), 객실 등급(Pclass), 운임(Fare) 값에 결측치가 없는 승객들만 대상으로, 각 등급별 평균 운임과 중앙값 운임을 출력
print(df[(~df['Age'].isnull()) & (~df['Pclass'].isnull()) & (~df['Fare'].isnull())][['Pclass','Fare']].groupby('Pclass').mean())
print(df[(~df['Age'].isnull()) & (~df['Pclass'].isnull()) & (~df['Fare'].isnull())][['Pclass','Fare']].groupby('Pclass').median())

             Fare
Pclass
1       87.961582
2       21.471556
3       13.229435
           Fare
Pclass
1       69.3000
2       15.0458
3        8.0500

In [21]:
# 7. 승객들의 `Embarked` 별 평균 나이를 계산하고, 가장 많은 승객이 탑승한 항구를 기준으로 생존율을 계산하여 출력
print(df.groupby('Embarked')['Age'].mean())
embarked_num = df.groupby('Embarked')['PassengerId'].count().sort_values().index[-1]
print('가장 많은 승객이 탑승한 항구의 생존율',round(df[df['Embarked'] == embarked_num]['Survived'].mean(),4)*100,'%')

Embarked
C    30.814769
Q    28.089286
S    29.445397
Name: Age, dtype: float64
가장 많은 승객이 탑승한 항구의 생존율 33.7 %

In [22]:
# 8. 승객 중에서 여성(`Sex == 'female'`)이면서 30세 이상인 사람들의 생존율을 계산하여 출력
print('여성이면서 30세 이상인 사람들의 생존율:',round(df[(df['Sex'] == 'female') & (df['Age'] >= 30)]['Survived'].mean(),4)*100,'%')

여성이면서 30세 이상인 사람들의 생존율: 80.7 %

In [23]:
# 9. 동반한 형제 또는 배우자 수(`SibSp`)와 부모 또는 자녀 수(`Parch`)의 합이 3 이상인 승객들만을 대상으로, 그들의 생존율을 계산하여 출력
print('동반한 형제 또는 배우자 수와 부모 또는 자녀 수의 합이 3 이상인 승객의 생존율',round(df[(df['SibSp'] + df['Parch']) > 3]['Survived'].mean(),4)*100,'%')

동반한 형제 또는 배우자 수와 부모 또는 자녀 수의 합이 3 이상인 승객의 생존율 16.13 %

In [24]:
# 10. `Cabin`(객실 번호) 정보가 있는 승객들만을 대상으로, 그들의 생존율을 객실 등급별로 구분하여 계산하여 출력
print(df[~df['Cabin'].isnull()][['Pclass','Survived']].groupby('Pclass').mean('Survived'))

        Survived
Pclass
1       0.664773
2       0.812500
3       0.500000