In [2]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv('./data/titanic.csv')
df 

print(df['PassengerId'].count()) # 총인원
print(df[df['Survived']==0].count())
print(df[df['Survived']==1].count())

print(df['Age'].mean()) # 나이 평균

print(df[df['Sex']== 'female'].count())


print(df[df['Age']<18].count())

891
PassengerId    549
Survived       549
Pclass         549
Name           549
Sex            549
Age            424
SibSp          549
Parch          549
Ticket         549
Fare           549
Cabin           68
Embarked       549
dtype: int64
PassengerId    342
Survived       342
Pclass         342
Name           342
Sex            342
Age            290
SibSp          342
Parch          342
Ticket         342
Fare           342
Cabin          136
Embarked       340
dtype: int64
29.69911764705882
PassengerId    314
Survived       314
Pclass         314
Name           314
Sex            314
Age            261
SibSp          314
Parch          314
Ticket         314
Fare           314
Cabin           97
Embarked       312
dtype: int64
PassengerId    113
Survived       113
Pclass         113
Name           113
Sex            113
Age            113
SibSp          113
Parch          113
Ticket         113
Fare           113
Cabin           19
Embarked       113
dtype: int64

In [5]:
#1
survivor = df['Survived'].value_counts()
print(survivor)

Survived
0    549
1    342
Name: count, dtype: int64

In [7]:
#2
avg_age = df['Age'].mean()
print(avg_age)

29.69911764705882

In [9]:
#3
first_c = df[df['Pclass']==1]
rich = first_c.loc[first_c['Fare'].idxmax()]
print(rich['Name'])

Ward, Miss. Anna

In [12]:
#4
female_count = df[df['Sex']=='female'].shape[0]
print(female_count)

314

In [14]:
#5
print(df[df['Fare']>=50][['Name','Fare']])

                                                  Name      Fare
1    Cumings, Mrs. John Bradley (Florence Briggs Th...   71.2833
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)   53.1000
6                              McCarthy, Mr. Timothy J   51.8625
27                      Fortune, Mr. Charles Alexander  263.0000
31      Spencer, Mrs. William Augustus (Marie Eugenie)  146.5208
..                                                 ...       ...
856         Wick, Mrs. George Dennick (Mary Hitchcock)  164.8667
863                  Sage, Miss. Dorothy Edith "Dolly"   69.5500
867               Roebling, Mr. Washington Augustus II   50.4958
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)   52.5542
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)   83.1583

[161 rows x 2 columns]

In [16]:
#6
student = df[df['Age']<18]
survived_student = student['Survived'].mean()
print(survived_student)

0.5398230088495575

In [19]:
#7 
print(df[df['Pclass']==2]['Fare'].mean())

20.662183152173913

In [21]:
#8
old_person = df.loc[df['Age'].idxmax()]
print(old_person['Name'],old_person['Age'])

Barkworth, Mr. Algernon Henry Wilson 80.0

In [28]:
#9
df[df['Embarked']=='S'].count()

PassengerId    644
Survived       644
Pclass         644
Name           644
Sex            644
Age            554
SibSp          644
Parch          644
Ticket         644
Fare           644
Cabin          129
Embarked       644
dtype: int64

In [31]:
#10
print(df[(df['Pclass']==3) & (df['Sex']=='male')]['Survived'].sum())

47